/**
 FONTS
 */
@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

html {
    font-family: roboto-regular, sans-serif;
}

* {
    margin: 0;
}

body {
    background-color: #eef2f3;
}
.full-height{
    height: 100vh;
    width: 100%;
}

.full-image{
    background: url(../images/presentation_image.jpg) center center fixed;
    background-size: cover;
}

nav {
    top: 0;
    width: 100%;
    position: fixed;
}

ul {
    list-style-type: none;
}

nav li{
    float: right;
}

nav li a {
    padding: 16px;
    display: block;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    background: black;
    color: white;
}

.title{
    display: inline-block;
    padding: 20px;
    position: relative;
    text-align: center;
    left: 20%;
    top: 40%;
    font-size: 40px;
    background-color: rgba(249, 249, 249, 0.15);
}

.article-section{
    height:100vh;

}

.article-section img {
    width: auto;
    height: 100vh;

}

.section-header{
    font-size: 40px;
    margin-top: 10px;
    padding-left: 10%;
    max-width: 100%;
}

.paragraf{
    padding: 10%;
    font-size: 1.3em;
    text-align: justify;
}

.overflow-restricted{
    overflow: hidden;
}

.work-list {
    display: block;
}

.work-list > li{
    max-width: 23%;
    width: 300px;
    height: 300px;
    float: left;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 1%;
    padding: 3%;
}

.edu-list {
    display: table;
}

.edu-list > li{
    max-width: 23%;
    float: left;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 1%;
    padding: 3%;
}


