/**
 FONTS
 */
@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

html {
    font-family: roboto-regular, sans-serif;
}

button {
    font-family: roboto-regular, sans-serif;
    font-size: 14px;
}

* {
    margin: 0;
}

body {
    background-color: #eef2f3;
}

.full-height {
    height: 100vh;
    width: 100%;
}

.full-image {
    background: url(../images/presentation_image.jpg) center center fixed;
    background-size: cover;
}

nav {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: +1;
}

ul {
    list-style-type: none;
}

nav li {
    float: right;
}

nav li a {
    padding: 16px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

a:hover {
    color: white;
    animation-name: backcolor-frame;
    animation-duration: 2s;
}

a:visited {
    background: transparent;
    color: black;
}

.title {
    display: inline-block;
    padding: 20px;
    position: relative;
    text-align: center;
    left: 20%;
    top: 40%;
    font-size: 40px;
    background-color: rgba(249, 249, 249, 0.15);
}

.article-section {
    display: inline-block;
    width: 100%;

}

.article-section img {
    width: auto;
    height: 100vh;

}

.section-header {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10%;
    max-width: 100%;
}

.paragraf {
    padding: 10%;
    font-size: 1.3em;
    text-align: justify;
}

.overflow-restricted {
    overflow: hidden;
    height: 100vh;
}

.work-list {
    display: block;
}

.work-list > li {
    max-width: 23%;
    width: 300px;
    height: 300px;
    float: left;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 1%;
    padding: 3%;
}

.edu-list {
    display: table;
}

.edu-list > li {
    max-width: 23%;
    float: left;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 1%;
    padding: 3%;
}

.video-container {
    text-align: center;
}

.transparent-nav {
    background-color: transparent;
}

.color-nav {
    background-color: rgba(0, 0, 0, 0.15);
}

.input-contact {
    padding: 5px;
    margin: 2px;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 16px;
}

.input-contact label {
    margin-right: 20px;
    text-align: justify;
}

.input-contact input {
    width: 50%;
}

.input-contact textarea {
    width: 99%;
}

.social-links a {
    text-decoration: none;
}

.social-links li {
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-links a:hover {
    background: transparent;
    color: black;
}

.social-links span {
    position: relative;
    bottom: 20px;
}

.social-links img {
    width: 50px;
    height: 50px;
}

/*
    KEYFRAMES
 */

@keyframes backcolor-frame {
    0% {
        background-color: #240601;
    }
    25% {
        background-color: #1f0105;
    }
    50% {
        background-color: #1a010c;
    }
    75% {
        background-color: #150110;
    }
    100% {
        background-color: #0f0110;
    }
}